* {
    margin: 0;
    padding:0;
}

.color-primary {
    color: #FCD232 !important;
}

.bg-primary {
    background-color: #FCD232 !important;
}

.color-secondary {
    color: #302F38 !important;
}

.bg-secondary {
    background-color: #302F38 !important;
}

.color-tertiary {
    color: #EB3B3B !important;
}

.bg-tertiary {
    background-color: #EB3B3B !important;
}

/* Filter&Cards */

#filter-coding,
#filter-design,
#filter-marketing {
    visibility:hidden;
}

.filters .filter:hover {
background-color: #EB3B3B !important;
color: #302F38 !important;
font-weight: 700;
}

.card-container:hover {
    transform: scale(1.1);
    transition: 0.5s;
}