* {
    margin: 0;
    padding:0;
}

.color-primary {
    color: #FCD232 !important;
}

.bg-primary {
    background-color: FCD232 !important;
}

.color-secondary {
    color: #302F38 !important;
}

.bg-secondary {
    background-color: #302F38 !important;
}

.color-tertiary {
    color: #EB3B3B !important;
}

.bg-tertiary {
    background-color: #EB3B3B !important;
}


/* Footer */

.footer {
    text-align: center;

}
.footer img {
    width: 20px;
}

@media (max-width: 500px) {
    .footer h6{
        font-size: smaller;
        font-weight: 500;
    }

    .footer img {
        width: 15px;
    }
}