* {
    margin: 0;
    padding:0;
}

.color-primary {
    color: #FCD232;
}

.bg-primary {
    background-color: FCD232;
}

.color-secondary {
    color: #302F38;
}

.bg-secondary {
    background-color: #302F38;
}

.color-tertiary {
    color: #EB3B3B;
}

.bg-tertiary {
    background-color: #EB3B3B;
}