* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* Commons */

.negative-top-positioning-60 {
    margin-top: -60px;
}
.negative-top-positioning-68 {
  margin-top: -68px;
}

.top-positioning-60 {
    margin-top: 60px;
}

.top-positioning-68 {
  margin-top: 68px;
}


.top-positioning-170 {
  margin-top: 170px;
}

.bottom-positioning-50 {
  margin-top: 50px;
}

.navbar {
    z-index: 1;
}

.showContentToClients {
    display: none;
}

.hideContentToClients {
    display: block;
}

#xmark {
    display:table;
    margin-right: 0;
    margin-left: auto;
}

.center-item {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Navbar */
#navbar {
  background-image: url(../style/images/header-img.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Banner */

.banner-top {
  margin-top: 56px;
  background-image: url(../style/images/yellow2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size:cover;
  height: 25vh;
}

.banner {

    background-image: url(../style/images/books_banner4.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
    height: 55vh;
    display: flex;
}

#registerDiv {
  position: relative;
  height: 120px;
  width: 250px;
  border-radius: 10px;
}

@media (max-width:800px) { 
  #registerDiv {
      display: none;
  }
}

#booksCatalogue {
  position: relative;
  height: 100%;
  width: 100%;
  
}

  
/* Banner-bottom */
#filterCategory{
    width: 300px;
}

  #showFilter{
    position: relative;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 14px solid #7ed432;
    border-bottom: 20px solid transparent;
  }

  #hideFilter{
    position: relative;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 14px solid #ff6232;
    border-bottom: 20px solid transparent;
  }
  
#book-content{
  background-image: url(../style/images/yellow2.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}

#readersChoice {
  background-image: url(../style/images/cyan2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#editorsChoice {
  background-image: url(../style/images/yellow2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Footer */
#footer {
  background-image: url(../style/images/footer-img.png);
  background-position:top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 50;
}

/* Dashboard */

#hiddenDiv {
 z-index: 1;
}
