* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Commons */

.negative-top-positioning {
    margin-top: -60px;
}
.top-positioning {
    margin-top: 60px;
}
.navbar {
    z-index: 1;
}

.showContentToClients {
    display: none;
}

.hideContentToClients {
    display: block;
}

#xmark {
    display:table;
    margin-right: 0;
    margin-left: auto;
}

/* Banner */

.banner {
    margin-top: 56px;
    background-image: url(../images/banner_img.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
    height: 93.2vh;
}

.banner a {
    width: 90%;
    font-size: 60px;
    font-weight: 600;
    color: transparent;
    background-image: linear-gradient(to right ,#553c9a, #ee4b2b, #00c2cb, #ff7f50, #553c9a);
    -webkit-background-clip: text;
    background-clip: text;    
    background-size: 200%;
    background-position: -200%;
    animation: animated-gradient 2s infinite alternate-reverse;      
  }

@keyframes animated-gradient{
    to{
      background-position: 200%;
    }
  }