* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* Commons */

.negative-top-positioning-60 {
    margin-top: -60px;
}
.negative-top-positioning-68 {
  margin-top: -68px;
}

.top-positioning {
    margin-top: 60px;
}

.top-positioning-136 {
  margin-top: 136px;
}
.navbar {
    z-index: 1;
}

.showContentToClients {
    display: none;
}

.hideContentToClients {
    display: block;
}

#xmark {
    display:table;
    margin-right: 0;
    margin-left: auto;
}

.center-item {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Banner */

.banner {
    margin-top: 56px;
    background-image: url(../images/banner_img.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
    height: 93.2vh;
}

.banner a {
    width: 90%;
    font-size: 60px;
    font-weight: 600;
    color: transparent;
    background-image: linear-gradient(to right ,#553c9a, #ee4b2b, #00c2cb, #ff7f50, #553c9a);
    -webkit-background-clip: text;
    background-clip: text;    
    background-size: 200%;
    background-position: -200%;
    animation: animated-gradient 2s infinite alternate-reverse;      
  }

@keyframes animated-gradient{
    to{
      background-position: 200%;
    }
  }

#filterCategory{
    width: 300px;
}

  #showFilter{
    width: 0;
    height: 0;
    margin-top: 50%;
    border-top: 20px solid transparent;
    border-left: 14px solid #ff5a00;
    border-bottom: 20px solid transparent;
  }

  #hideFilter{
    width: 0;
    height: 0;
    margin-top: 50%;
    border-top: 20px solid transparent;
    border-right: 14px solid #5ea91d;
    border-bottom: 20px solid transparent;
  }
  
