.banner {
    background-image: url(../images/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
    background-position: center;
}

.background-effect {
    background-color: rgba(0, 0, 0, 0.4);
}

.textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgray;
}